:root {
  --primary-color: #{$primary-color};
  --text-color: #{$text-color};
  --white-color: #{$white-color};
  --button-text-color: #{$button-text-color};
  --bgc: #{$bgc};

  --main-font: #{$main-font};
}