:root {
  --primary-color: #{$primary-color};
  --text-color: #{$text-color};
  --white-color: #{$white-color};
  --button-text-color: #{$button-text-color};
  --bgc: #{$bgc};
  --dark-text-color: #{$dark-text-color};
  --info-box-background-color-1: #{$info-box-background-color-1};
  --info-box-background-color-2: #{$info-box-background-color-2};

  --main-font: #{$main-font};
}
