$sans-font: 'ibm-plex-mono', san-serif;
$main-font: $sans-font;
$min-width: 350px;
$primary-color: #00FECE;
$bgc: #120031;
$button-text-color: #120031;
$dark-text-color: $bgc;
$white-color: #FFFFFF;
$text-color: $white-color;
$info-box-background-color-1: #004BFF;
$info-box-background-color-2: #300A89;
