$sans-font: 'ibm-plex-mono', san-serif;
$main-font: $sans-font;
$min-width: 350px;
$primary-color: #00FECE;
$button-text-color: #120031;
$white-color: #FFFFFF;
$text-color: $white-color;
$bgc: #120031;
