mixin koni-partner-and-backer-item(partnerAndBackerImg)
    .koni-partner-and-backer-item-container
        img.koni-partner-and-backer-item-img(src=url(`/images/partner-and-backer/${partnerAndBackerImg}.png`))