mixin koni-left-img-background-1
    .koni-left-img-background-1-wrapper
        .koni-left-img-background-1
            img.koni-left-img-background-1__img-1(src=url('images/background-img/planet-around-1.png'))
            img.koni-left-img-background-1__img-2(src=url('images/background-img/planet-background-1.png'))
            img.koni-left-img-background-1__img-3(src=url('images/background-img/planet-background-2.png'))
