mixin koni-portfolio-item(portfolioLogo)
    a.koni-portfolio-container(href="#" target="_blank")
        img.koni-portfolio-logo(src=url(`images/portfolio/${portfolioLogo}.png`))
        img.koni-portfolio-logo-hover(src=url(`images/portfolio/${portfolioLogo}-hover.png`))
