.page-index {
  .koni-header-background {
    position: relative;
    height: 807px;
  }
  .koni-hp-first-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 198px;
  }

  .koni-hp-second-section-container {
    margin-top: 162px;
    position: relative;
    height: 1222px;
  }

  .koni-video-background-2:before {
    content: '';
    position: absolute;
    display: inline-block;
    padding-top: 75.7px;
    overflow: hidden;
  }

  .koni-video-background-2 {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
  }

  .koni-background-video-2 {

    width: 100%;
    height: 100%;
  }

  .koni-hp-transform-background {
    width: 100%;
    height: 127px;
    background: linear-gradient(180deg, rgba(19, 0, 54, 0.01) 0%, #120031 76.87%);
    position: absolute;
    bottom: 0;
  }

  .koni-hp-second-section-left-item {
    margin-top: 16px;
  }

  .koni-hp-second-section-left-item-btn {
    display: inline-block;
  }

  .koni-hp-second-section-right-item {
    padding-left: 96px;
    padding-top: 70px;
  }

  .koni-hp-second-section-right-item .koni-basic-info-box {
      margin-bottom: 40px;
      margin-right: 180px;
  }

  .koni-hp-second-section-left-item__text {
    margin: 26px 0 43px;
    max-width: 585px;
    font-weight: 600;
    text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
    letter-spacing: -0.03em;
  }

  .koni-hp-section-title {
    max-width: 800px;
    letter-spacing: -0.06em;
  }

  .koni-hp-section-subtitle {
    margin: 34px 0 50px;
  }

  .koni-header-background {
    width: 100%;
  }

  .koni-top-background-video {
    width: 100%;
    height: auto;
    position: absolute;
    top: -107px;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .koni-hp-third-section-container {
    position: relative;
    width: 100%;
  }

  .koni-hp-third-section-title {
    max-width: 372px;
    letter-spacing: -0.06em;
    font-weight: 600;
    position: absolute;
    //right: -60px;
    right: 0;
  }

  .koni-hp-third-section-right-background {
    position: absolute;
    right: 0;
    width: 870px;
  }

  .koni-hp-third-section-item {
    padding: 165px 38px 0;
  }


  .koni-hp-third-section-item:first-child {
    padding-left: 0;
    padding-top: 70px;
  }

  .koni-hp-third-section-item:last-child {
    padding-right: 0;
    padding-top: 248px;
  }


  .koni-hp-our-product-content-wrapper {
    display: flex;
  }

  .koni-hp-our-product-section-title {
    max-width: 298px;
    margin: 35px 0 55px;
  }

  .koni-hp-our-product-koni-wallet {
    margin-right: 15px;
    background-color: var(--primary-color);
    box-shadow: 0px 10px 20px rgba(0, 254, 206, 0.5);
    transition: flex .3s;

    .koni-filled-info-box__title,
    .koni-filled-info-box__text,
    .koni-button-with-icon__text,
    .koni-button-with-icon__icon {
      color: var(--dark-text-color);
    }
  }

  .koni-hp-our-product-koni-connect {
    background-color: var(--info-box-background-color-1);
    box-shadow: 0px 10px 20px rgba(0, 75, 255, 0.57);
    margin: 0 15px;
    transition: flex .3s;
  }

  .koni-hp-our-product-koniverse {
    background-color: var(--info-box-background-color-2);
    box-shadow: 0px 10px 20px rgba(48, 10, 137, 0.5);
    margin-left: 15px;
    transition: flex .3s;
  }

  .koni-hp-our-team-container {
    margin-top: 148px;
    position: relative;
  }

  .koni-our-team-background-img {
    position: absolute;
    z-index: -1;
    right: 0;
    width: 1440px;
    height: auto;
  }

  .koni-hp-our-team-content-wrapper {
    display: flex;
  }

  .koni-hp-our-team-left-content {
    flex: 1;
  }

  .koni-hp-our-team-right-content {
    flex: 2;
    width: 100%;
  }

  .koni-hp-our-team-slicker-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .koni-hp-our-team-group {
    padding-right: 90px;
    padding-top: 15px;
  }

  .koni-hp-group-wrapper {
    display: flex;
  }

  .koni-hp-child-group {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .koni-hp-child-group:first-child {
    margin-top: 50px;
  }

  .koni-hp-our-advisor-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .koni-hp-our-advisor-title {
    padding: 20px 0 55px;
  }

  .koni-hp-ouradvisor-slicker-wrapper {
    .slick-prev, .slick-next {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      top: -120px;
    }

    .slick-prev {
      right: 55px;
    }
  }

  .koni-portfolios-container {
    position: relative;
  }

  .koni-background-video-4 {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
  }

  .koni-hp-our-portfolio-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
  }

  .koni-hp-our-portfolio-title, .koni-hp-partner-and-backer-title {
    color: var(--primary-color);
    margin-top: 132px;
    margin-bottom: 35px;
  }

  .koni-partners-and-backers-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .koni-hp-blogposts-container {
    margin-bottom: 260px;
  }

  .koni-hp-blogposts-title {
    margin-top: 80px;
  }

  .koni-hp-blogposts-content-wrapper {
    display: flex;
  }

  @media (max-width: breakpoint-min('xxl')) {
    .koni-header-background {
      height: 720px;
    }

    .koni-hp-second-section-right-item .koni-basic-info-box {
      margin-right: 0;
    }
    .koni-hp-second-section-container {
      margin-top: 0;
      height: 1000px;
    }

    .koni-hp-ouradvisor-slicker-wrapper {
      .slick-prev, .slick-next {
        top: -112px;
      }
    }
  }

  @media (max-width: breakpoint-max('xl')) {

    //.koni-header-background {
    //  height: 520px;
    //}

    .koni-hp-first-section-container {
      padding-top: 80px;
    }

    .koni-hp-second-section-right-item .koni-basic-info-box {
      margin-bottom: 30px;
    }

    .koni-hp-our-product-section-title {
      margin: 50px 0 0;
    }

    .koni-hp-our-product-content-wrapper {
      flex-direction: column;
    }

    .koni-hp-our-product-koni-wallet,
    .koni-hp-our-product-koni-connect,
    .koni-hp-our-product-koniverse {
      margin: 20px 0;
    }

    .koni-hp-our-team-content-wrapper {
      flex-direction: column;
    }

    .koni-hp-our-team-container {
      margin-top: 25px;
    }

    .koni-hp-our-team-group {
      padding-top: 10px;
    }

    .koni-hp-our-team-left-content {
      display: none;
    }
    //
    //.koni-hp-our-team-right-content {
    //  order: 1;
    //}

    .koni-hp-our-portfolio-content {
      max-width: 100%;
      justify-content: space-around;
    }

    .koni-hp-second-section-container {
      height: 900px;
    }

    .koni-hp-third-section-item,
    .koni-hp-third-section-item:last-child {
      padding: 30px 0 0;
    }

    .koni-hp-third-section-item:first-child {
      padding: 140px 0 0;
    }

    .koni-hp-our-advisor-title {
      padding: 25px 0;
    }

    .koni-hp-ouradvisor-slicker-wrapper .slick-prev,
    .koni-hp-ouradvisor-slicker-wrapper .slick-next {
      top: -80px;
    }

    .koni-hp-our-portfolio-title {
      margin-top: 80px;
    }

    .koni-hp-partner-and-backer-title {
      margin-top: 24px;
    }

    .koni-hp-blogposts-title {
      margin-top: 10px;
    }
  }

  @media (max-width: breakpoint-min('lg')) {
    .koni-hp-second-section-right-item {
      padding: 80px 0 0;
    }

    .koni-hp-partner-and-backer-title {
      margin-top: 20px;
    }

    .koni-hp-blogposts-content-wrapper {
      flex-direction: column;
    }


  }

  @media (max-width: breakpoint-min('md')) {
    .koni-hp-group-wrapper {
      flex-direction: column;
    }

    .koni-hp-child-group:first-child {
      margin-top: 0;
    }

    .koni-hp-our-team-slicker-container .slick-prev {
      top: 39%;
    }

    .koni-hp-our-team-slicker-container .slick-next {
      bottom: 40%;
    }

    .koni-hp-our-team-group {
      padding-right: 60px;
    }
  }

  @media (max-width: breakpoint-min('sm')) {
    .koni-header-background {
      height: 410px;
    }

    .koni-hp-second-section-left-item__text {
      margin: 25px 0;
    }

    .koni-hp-second-section-container {
      height: 650px;
    }

    .koni-hp-second-section-right-item {
      padding: 30px 0 0;
    }

    .koni-hp-first-section-container {
      padding-top: 60px;
    }

    .koni-hp-third-section-title, .koni-hp-our-team-title {
      text-align: left;
    }

    .koni-hp-third-section-title {
      left: 0;
    }

    .koni-hp-third-section-item:first-child {
      padding: 75px 0 0;
    }
  }

  @media (max-width: 499px) {
    .koni-hp-second-section-container {
      height: 750px;
    }
  }
}
