mixin footer
    footer.koni-footer
        .koni-footer-linear-background
            .koni-footer-stars-wrapper
                .bg-video.koni-background-video-5(data-src=url('/video-json/video-5.json'))
            .koni-footer-follow-us.h-fz-18.h-t-uppercase follow us
            .koni-footer-interested.h-fz-40.h-t-center Are you interested in collaborating with Koni Studio?
            .koni-social-networks-wrapper
                each socialNetWork in footerLink
                    +koni-social-network-item(socialNetWork.text)
        .koni-footer-copyright-container
            .koni-footer-copyright-text.h-fz-15 © Copyright 2021 KoniStudio
