.koni-portfolio-container {
  max-width: 170px;
  margin: 19px 40px;
}

.koni-portfolio-logo {
  height: auto;
}

@media (max-width: breakpoint-min('xxl')) {
  .koni-portfolio-container {
    max-width: 150px;
    margin: 19px;
  }
}

