//basic--------------------------------------
.koni-basic-info-box__title {
  color: var(--primary-color);
  text-shadow: 0px 0px 20px rgba(0, 254, 206, 0.51);
  margin-bottom: 8px;
}

.koni-basic-info-box__text {
  color: var(--white-color);
}

//galaxy--------------------------------------

.koni-galaxy-info-box-img {
  max-width: 70px;
  height: auto;
  margin-bottom: 15px;
}

//linear-------------------------------------

.koni-linear-info-box-container {
  display: inline-block;
  margin: 15px;
  position:relative;
  z-index:0;
  transition: .3s all;
  &:hover {
    transform: translate3d(0,-5px,0);
  }
}

.koni-linear-info-box-container:before {
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding: 2px;
  border-radius: 10px;
  background: linear-gradient(-45deg ,rgba(0, 254, 206, 1) 0%,transparent 11%, transparent 89%,rgba(0, 254, 206, 1) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.koni-linear-info-wrapper {
  background: rgba(255, 255, 255, 0.13);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 18px 24px 32px;
}

.koni-linear-info-box-header-image {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: #ffffff;
}

.koni-linear-info-box-header {
  display: flex;
  align-items: center;
}

.koni-linear-info-box-header-right-side {
  padding-left: 9px;
}

.koni-linear-info-box-header-right-side__title {
  color: var(--primary-color);
}

.koni-linear-info-box-header-right-side__text {
  color: var(--white-color);
  padding-top: 6px;
}

.koni-linear-info-box-body {
  margin: 17px 0 55px;
}

.koni-linear-info-box-body__text {
  color: var(--white-color);
}

.koni-linear-info-box-footer-img {
  max-width: 52px;
  height: auto;
}

.koni-linear-info-box-container-2 {
  display: inline-block;
  margin: 75px 15px;
  position:relative;
  z-index:0;
  flex: 1;
}

.koni-linear-info-box-container-2:first-child {
  margin-left: 0;
}

.koni-linear-info-box-container-2:last-child {
  margin-right: 0;
}

.koni-linear-info-wrapper-2:before {
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding: 2px;
  border-radius: 10px;
  background: linear-gradient(-45deg ,rgba(0, 254, 206, 1) 0%,transparent 11%, transparent 89%,rgba(0, 254, 206, 1) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.koni-linear-info-wrapper-2 {
  position: relative;
  background: rgba(255, 255, 255, 0.13);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 32px 30px 37px;
  transition: .3s all;
  &:hover {
    transform: translate3d(0, -5px,0);
  }
}

.koni-linear-info-box-header-2__title {
  color: var(--primary-color);
  text-shadow: 0px 0px 20px rgba(0, 254, 206, 0.51);
  margin: 0 0 11px;
}

.koni-linear-info-box-body-2__text {
  height: 100%;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.koni-linear-info-box-footer-2 {
  margin-top: 24px;
  display: inline-block;
}



//filled box-----------------------------------------
.koni-filled-info-box-container {
  padding: 48px 20px 24px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.koni-filled-info-box__title {
  margin-bottom: 22px;
}

.koni-filled-info-box-btn {
  justify-self: flex-end;
  align-self: flex-start;
}

.koni-filled-info-box__text {
  margin-bottom: 70px;
  height: 100%;
}

@media (max-width: breakpoint-min('xl')) {
  .koni-linear-info-box-container-2 {
    margin: 30px 15px;
    }
}

@media (max-width: breakpoint-min('lg')) {
  .koni-linear-info-box-container-2, .koni-linear-info-box-container-2:last-child, .koni-linear-info-box-container-2:first-child{
    margin: 30px 0;
  }
}

@media (max-width: breakpoint-min('md')) {
  .koni-linear-info-box-container {
    margin: 15px 0;
  }

  .koni-linear-info-box-body {
    margin: 17px 0;
  }

  .koni-linear-info-box-container-2, .koni-linear-info-box-container-2:last-child, .koni-linear-info-box-container-2:first-child{
    margin: 15px 0;
  }
}


