.koni-partner-and-backer-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: .3s all;
  img {
    transition: .3s all;
  }
}

.koni-partner-and-backer-item-img-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.koni-partner-and-backer-item-container:hover {
  transform: translate3d(0,-5px,0);
  .koni-partner-and-backer-item-img {
    opacity: 0;
  }

  .koni-partner-and-backer-item-img-hover {
    opacity: 1;
  }
}

@media (max-width: breakpoint-min('xl')) {
  .koni-partner-and-backer-item-container {
    margin: 0 10px;
  }
}

@media (max-width: breakpoint-min('sm')) {
  .koni-partner-and-backer-item-container {
    max-width: 170px;
  }
}
