.koni-partner-and-backer-item-container {
  width: 185px;
  margin: 40px 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: breakpoint-min('xl')) {
  .koni-partner-and-backer-item-container {
    margin: 20px;
  }
}
