.koni-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.koni-footer-linear-background {
  height: 268px;
  width: 100%;
  background: linear-gradient(180deg, rgba(19, 0, 54, 0.01) 0%, #120031 76.87%);
  //background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.koni-footer-stars-wrapper {
  position: relative;
  margin-bottom: -330px;
  z-index: -2;
}

.koni-footer-galaxy-center-logo {
  width: 991px;
  height: auto;

  z-index: -1;
}

.koni-footer-galaxy-star-around-1 {
  max-width: 275px;
  position: absolute;
  height: auto;
  left: -70px;
  bottom: 55px;
}

.koni-footer-galaxy-star-around-2 {
  max-width: 54px;
  height: auto;
  position: absolute;
  right: 5px;
  top: 115px;

}

.koni-footer-galaxy-star-around-3 {
  max-width: 160px;
  height: auto;
  position: absolute;
  bottom: 75px;
  right: 20px;
}

.koni-footer-galaxy-star-around-4 {
  max-width: 200px;
  height: auto;
  position: absolute;
  bottom: 41px;
  right: 318px;
  z-index: -1;
}

.koni-footer-follow-us {
  color: var(--primary-color);

}

.koni-social-networks-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: flex-end;
}

.koni-footer-interested {
  max-width: 635px;
  margin: 13px 0 50px;
  text-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
}

.koni-footer-copyright-container {
  display: flex;
  justify-content: center;
  margin: 79px 0 52px;
}

@media (max-width: breakpoint-min('xxl')) {
  .koni-social-networks-wrapper {
    margin-bottom: 15px;
  }
}

@media (max-width: breakpoint-min('xl')) {
  .koni-footer-copyright-container {
    margin: 52px 0;
  }
}

@media (max-width: breakpoint-min('sm')) {
  .koni-footer-stars-wrapper {
    margin-bottom: -270px;
  }

  .koni-footer-copyright-container {
    margin: 30px 0 52px;
  }
}
