.h-t-center {
  text-align: center;
}

.h-color {
  color: var(--primary-color);
}

.ff-sans {
  font-family: var(--sans-font);
}

.h-t-uppercase {
  text-transform: uppercase;
}

.h-t-left {
  text-align: left;
}

.h-t-right {
  text-align: right;
}

.h-fz-76 {
  font-size: 76px;
  line-height: 90px;
}

.h-fz-68 {
  font-size: 68px;
  line-height: 86px;
}

.h-fz-40 {
  font-size: 40px;
  line-height: 58px;
}

.h-fz-26 {
  font-size: 26px;
  line-height: 33.8px;
}

.h-fz-24 {
  font-size: 24px;
  line-height: 34px;
}

.h-fz-20 {
  font-size: 20px;
  line-height: 26px;
}

.h-fz-18 {
  font-size: 18px;
  line-height: 23px;
}

.h-fz-15 {
  font-size: 15px;
  line-height: 24px;
}

.h-fz-12 {
  font-size: 12px;
  line-height: 15.6px;
}

[role="button"] {
  cursor: pointer;
}

.link-highlight-on-hover {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
}

@media (max-width: breakpoint-min('xxl')) {
  .h-fz-76 {
    font-size: 68px;
    line-height: 82px;
  }

  .h-fz-68 {
    font-size: 64px;
    line-height: 72px;
  }
}

@media (max-width: breakpoint-min('xl')) {
  .h-fz-76 {
    font-size: 64px;
    line-height: 72px;
  }

  .h-fz-68 {
    font-size: 58px;
    line-height: 64px;
  }
}

@media (max-width: breakpoint-min('md')) {
  .h-fz-68 {
    font-size: 50px;
    line-height: 56px;
  }
}

@media (max-width: breakpoint-min('sm')) {
  .h-fz-76 {
    font-size: 40px;
    line-height: 64px;
  }

  .h-fz-68 {
    font-size: 36px;
    line-height: 54px;
  }

  .h-fz-40 {
    font-size: 28px;
    line-height: 40px;
  }
}
